<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="user">
	<resultMap type="user" id="userResult">
		<result property="id" column="id" />
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="nickname" column="nickname" />
		<result property="telephone" column="telephone" />
		<result property="email" column="email" />
		<result property="remarks" column="remarks" />
		<result property="userRole" column="userRole" />
	</resultMap>
	
	<resultMap type="com.rubik.support.entity.TbUserRole" id="userRoles">
		<result property="roleId" column="role_id"/>
		<result property="userId" column="user_id"/>
	</resultMap>
	
	<resultMap type="com.rubik.eds.entity.TbUserStation" id="userStations">
		<result property="stationId" column="stationId"/>
		<result property="userId" column="userId"/>
	</resultMap>
	<!--查询记录总数  -->
	<select id="getTotalCount" resultType="int"  parameterType="java.util.Map">
		select count(id) as totalCount from tb_system_user where 1=1 
		<if test="userRole != 'super'">
		    AND userRole = #{userRole }
		</if>
	</select>
	<!--查询记录总数  -->
	
	<select id="findByName" parameterType="String" resultMap="userResult">
		select id, username, password, nickname, telephone, email, remarks, userRole 
		from tb_system_user 
		where username=#{username}
	</select>
	
	<select id="findById" parameterType="int" resultMap="userResult">
		select id, username, password, nickname, telephone, email, remarks, userRole 
		from tb_system_user 
		where id=#{id}
	</select>
	
	<select id="findByRowBound" resultMap="userResult" parameterType="java.util.Map">
		select id, username, password, nickname, telephone, email, remarks, userRole 
		from tb_system_user where 1=1 
		<if test="userRole != 'super'">
		    AND userRole = #{userRole }
		</if>
		order by id 
	</select>
	
	<insert id="insert" parameterType="user">
		insert into tb_system_user(username, password, nickname, telephone, email, remarks, userRole) 
		values(#{username}, #{password}, #{nickname}, #{telephone}, #{email}, #{remarks}, #{userRole})
	</insert>
	
	<update id="update" parameterType="user">
		update tb_system_user SET 
		username=#{username}, nickname=#{nickname}, telephone=#{telephone}, 
		email=#{email}, remarks=#{remarks}, userRole=#{userRole } 
		where id = #{id}
	</update>
	
	<delete id="deleteById" parameterType="int" >
		delete from tb_system_user where id = #{id}
	</delete>
	
	<delete id="deleteRoleById" parameterType="int" >
		delete from tb_user_role where user_id = #{id}
	</delete>
	<delete id="deleteStationById" parameterType="int" >
		delete from tb_user_station where userId = #{userId}
	</delete>
	
	<!-- 获取用户所有的角色列表 -->
	<select id="findRolesByUserId" parameterType="int" resultMap="userRoles">
		select user_id, role_id from tb_user_role where user_id = #{id }
	</select>
	
	<insert id="userRoleInsert" parameterType="java.util.Map">
		<selectKey keyProperty="userId" resultType="int" order="BEFORE">
			select LAST_INSERT_ID()
		</selectKey>
		insert into tb_user_role(user_id, role_id) values 
		<foreach collection="roles" item="item" index="index" separator=",">
			<choose>
				<when test="mainId != null">
					(#{mainId},#{item})
				</when>
				<otherwise>
					(#{userId},#{item})
				</otherwise>
			</choose>
		</foreach>
	</insert>
	
	<!-- 获取用户所有的站点列表 -->
	<select id="findStationsByUserId" parameterType="int" resultMap="userStations">
		select userId, stationId from tb_user_station where userId = #{userId }
	</select>
	
	<insert id="userStationInsert" parameterType="java.util.Map">
		<selectKey keyProperty="userId" resultType="int" order="BEFORE">
			select LAST_INSERT_ID()
		</selectKey>
		insert into tb_user_station(userId, stationId) values 
		<foreach collection="stations" item="item" index="index" separator=",">
			<choose>
				<when test="mainId != null">
					(#{mainId},#{item})
				</when>
				<otherwise>
					(#{userId},#{item})
				</otherwise>
			</choose>
		</foreach>
	</insert>
	
</mapper>